<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Loggers>
        <Logger name="scathapro" level="debug" additivity="false">
            <AppenderRef ref="SysOut"/>
            <AppenderRef ref="LatestFile"/>
            <AppenderRef ref="DebugFile"/>
        </Logger>
    </Loggers>
</Configuration>